<div>
	
	<div class="jumbotron">
		<h3>Cadastro</h3>	
		<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
		<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
		<select class="form-control" ng-model="contato.operadora" 
			ng-options="operadora.nome for operadora in operadoras">
			<option value="">Selecione uma operadora</option>
		</select>

		<button class="btn btn-primary btn-block" 
			ng-click="adicionarContato(contato)">Adicionar Contato</button>
			
		<button class="btn btn-danger btn-block" 
			ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
		
	</div>
	
</div>