<html ng-app="listaTelefonica">
<head>
	<title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="index.css">
	<script src="node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
	<script src="ListaTelefonicaCtrl.js"></script>
	<script src="FormTelefonicaCtrl.js"></script>
</head>
<body>
	
    <div ng-controller="listaTelefonicaCtrl">
		
		<div class="jumbotron">
			<h3>{{app}}</h3>
			<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
			<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
			<select class="form-control" ng-model="contato.operadora" 
				ng-options="operadora.nome for operadora in operadoras">
				<option value="">Selecione uma operadora</option>
			</select>

			<button class="btn btn-primary btn-block" 
				ng-click="adicionarContato(contato)">Adicionar Contato</button>
			<button class="btn btn-danger btn-block" 
				ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
			
		</div>
		
    </div>

		
</body>
</html>