<html ng-app="listaTelefonica">
<head>
	<title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="index.css">
	<script src="node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
	<script src="ListaTelefonicaCtrl.js"></script>
	<script src="FormTelefonicaCtrl.js"></script>
</head>
<body>
	
    <div ng-controller="listaTelefonicaCtrl">
		
		<div class="jumbotron">
			<h3>{{app}}</h3>
			<!-- Exibindo tabela com todos contatos -->
			<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
			<table ng-show="contatos.length > 0" class="table table-striped">
				<tr>
					<th></th>
					<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th><a href="" ng-click="ordenarPor('telefone')">Telefone<a/></th>
					<th>Operadora</th>
					<!--<th>Data</th>-->
				</tr>
				<tr ng-class="{'selecionado negrito': contato.selecionado}" 
					ng-repeat="contato in contatos | limitTo : 3 : 0 | filter:criterioDeBusca">
					<td><input type="checkbox" ng-model="contato.selecionado"/></td>
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome}}</td>
					<!--<td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>-->
				</tr>
			</table>

			<hr/>
			
		</div>
		
    </div>
	
</body>
</html>